#information{
    margin-top: 30px;
    display: flex;
}

#about {
    margin:auto;
    width: 70%;
    height: 300px;
}

.aboutText {
    width: 100%;
}

#aboutSave {
    float: right;
    margin-top: 5px;
    margin-right: 10px;

}

#profilePic {
    width: 25%;
    height: 300px;
    margin: auto;
}
.experienceBox{
    margin-top: 70px;
}